<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://in-city.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>in-city.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>in-city</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$in-city</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:wb6ifrjy80.database.windows.net,1433;Initial Catalog=in-city_db;User ID=terdened@wb6ifrjy80;Password=Amaterassu11071959" Name="Data Source=tcp:wb6ifrjy80.database.windows.net,1433;Initial Catalog=in-city_db;User Id=terdened@wb6ifrjy80;Password=Amaterassu11071959" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-InCity-20140928101322.mdf;Initial Catalog=aspnet-InCity-20140928101322;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-InCity-20140928101322.mdf;Initial Catalog=aspnet-InCity-20140928101322;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InCityDBEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InCity.InCityDBEntities1, InCity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InCityDBEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:wb6ifrjy80.database.windows.net,1433;Initial Catalog=in-city_db;User ID=terdened@wb6ifrjy80;Password=Amaterassu11071959" Name="Data Source=tcp:wb6ifrjy80.database.windows.net,1433;Initial Catalog=in-city_db;User Id=terdened@wb6ifrjy80;Password=Amaterassu11071959" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\InCityDB.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InCityDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/InCityDBEDM.csdl|res://*/InCityDBEDM.ssdl|res://*/InCityDBEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\InCityDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:wb6ifrjy80.database.windows.net;Initial Catalog=in-city_db;Persist Security Info=True;User ID=terdened@wb6ifrjy80;Password=Amaterassu11071959;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/InCity.csdl|res://*/InCity.ssdl|res://*/InCity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:wb6ifrjy80.database.windows.net;initial catalog=in-city_db;persist security info=True;user id=terdened@wb6ifrjy80;password=Amaterassu11071959;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wb6ifrjy80.database.windows.net,1433;Initial Catalog=in-city_db;User Id=terdened@wb6ifrjy80;Password=Amaterassu11071959</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InCityDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/InCityDBEDM.csdl|res://*/InCityDBEDM.ssdl|res://*/InCityDBEDM.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:wb6ifrjy80.database.windows.net,1433;initial catalog=in-city_db;user id=terdened@wb6ifrjy80;password=Amaterassu11071959;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InCityDBEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>