@model IEnumerable<InCity.Models.PlaceModel>

@{
    ViewBag.Title = "Места";
}

<h2>Места</h2>

<div class="list-group">

    @foreach (var item in Model)
    {
        <a href="Place/Show?pId=@item.mId" class="list-group-item place-btn" style=" padding: 0px;" >
            <div style="text-align: center; height: 150px; background: url(../../@item.mHeader) no-repeat center center;">
                <div style="color: whitesmoke; font-size: 60px; padding-top:35px">@Html.DisplayFor(m => item.mTitle)</div>
            </div>
        </a>
                @*<h4>@Html.ActionLink(item.mTitle, "Show", "Place", new { pId = item.mId }, new { })</h4>*@
    }

</div>
