@model InCity.Models.PlaceModel

@{ 
    ViewBag.Title = "Места";
}

@if (Model.mHeader != "")
{
    <div style="text-align: center; height: 150px; background: url(../../@Model.mHeader) no-repeat center center; background-size: cover;">
        <div style="color: whitesmoke; font-size: 60px; padding-top:35px">Места</div>
    </div>
}
else
{
    <div style="text-align: center; height: 150px; background: url(../../Content/Img/Headers/1.jpg) no-repeat center center; background-size: cover;">
        <div style="color: whitesmoke; font-size: 60px; padding-top:35px">Места</div>
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <h4>@Html.DisplayFor(m => Model.mTitle)</h4>
    @Html.DisplayFor(m => Model.mAddress)
</p>
