body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.place-btn:link {
    color: #0000d0; /* Цвет ссылок */
    padding: 2px; /* Поля вокруг текста */
    -webkit-filter: grayscale(80%);
    -moz-transition: -webkit-filter 0.4s 0.1s ease;
    -o-transition: -webkit-filter 0.4s 0.1s ease;
    -webkit-transition: -webkit-filter 0.4s 0.1s ease;
}

.place-btn:hover {
    background: #786b59; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
    -webkit-filter: grayscale(0%);
}

.event-list-btn {
    color: #333; /* Цвет ссылок */
    background-color: #eee; /* Цвет фона под ссылкой */
    transition: 0.4s;
    text-align: center;
    padding: 0px
}

.event-list-btn:hover {
    background-color: #545454; /* Цвет фона под ссылкой */
    color: #ffffff; /* Цвет ссылки */
    cursor:pointer;
}
