@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InCity</h1>
    <p class="lead">InCity - Самый <b>полный</b> справочник событий вашего города.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>События</h2>
        <p>
            Узнай о всех ближайщих событиях в твоем городе.
        </p>
        <p>@Html.ActionLink("События", "Index", "Event", new { }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Места</h2>
        <p>
            Узнай о всех ближайщих событиях в любимых театрах, барах и любых других местах.
        </p>
        <p>@Html.ActionLink("Места", "Index", "Place", new { }, new { @class = "btn btn-primary" })</p>
    </div>
</div>
