@model InCity.Models.EventListItem

<table width=100% border="0" style="padding: 0px">
    <tr>
        <td style="text-align: center;" width="33%">
                @Model.mTitle
        </td>
        <td width="50%">
            <table width=100% style="padding: 0px;">
                @foreach (var place in Model.mPlaces)
                {
                    <tr>
                        <td width="50%" class="event-list-btn" onclick="location.href='Place/Show?pId=@place.mId'">
                            @place.mTitle
                        </td>
                        <td style="text-align: center;" width="50%">
                            Цены
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td class="event-list-btn" width="17%">
            <h4>
                Подробнее
            </h4>
        </td>
    </tr>
</table>